/* --- Style.css
   --- --------------
   ---
   --- author: kaushik
  --- date:   3/24/20
 */
.webPage {
	display: none;
}

h1 {
	text-align: center;
	font-family: Tahoma, Arial, sans-serif;
	color: #06D85F;
	margin: 80px 0;
}

.input-control {
	width: 100%;
	padding: 6px 6px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.box {
	width: 40%;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.2);
	padding: 35px;
	border: 2px solid #fff;
	border-radius: 20px/50px;
	background-clip: padding-box;
	text-align: center;
}

.btnLink:link, .btnLink:visited {
	background-color: #007bff;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.close {
	text-align: right;
}

.selectBox {
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 5px;
	padding: 5px;
	width: 200px;
}

.searchBox {
	margin-top: 10px;
	margin-left: 0px;
	border-radius: 5px;
	padding: 5px;
	width: 400px;
}

.searchDiv {
	display: inline-block;
	float: right;
	margin-right: 10px;
}

.filterDiv {
	display: inline-block;
}

h5 .modal-title {
	text-align: center;
}

.panel-footer, .enroll, .update, .download, .alert {
	padding: 2px 10px !important;
	display: block;
	margin-bottom: 0 !important;
}

.panel-heading, .panel-body {
	padding: 5px !important;
}

.overlay {
	position: fixed;
	overflow-y: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.profile {
	height: 650px;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 40%;
	position: relative;
}

.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: #06D85F;
}

.popup .content {
	max-height: 30%;
	overflow: auto;
}

@media screen and (max-width: 700px) {
	.box {
		width: 70%;
	}
	.popup {
		width: 70%;
	}
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 20px 10px;
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
	width: 100%;
}

.display {
	visibility: hidden;
}

.btn-disable {
	cursor: not-allowed;
	pointer-events: none;
	/*Button disabled - CSS color class*/
	color: #c0c0c0;
	background-color: #ffffff;
}

.showCourse td {
	height: 58px;
}

.important{
	color: red;	
}

.showCourse h2 {
	text-align: center;
}

.header a {
	float: left;
	color: black;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
	border-radius: 4px;
	margin: 1px;
}

.header a.logo {
	font-size: 25px;
	font-weight: bold;
}

.header a:hover {
	background-color: #ddd;
	color: black;
	text-decoration: none;
}

.header-right a:link, .header-right a:visited, .panel-footer a:link {
	text-decoration: none;
}

.table {
	margin-bottom: 2px !important;
}

.header-right {
	float: right;
}

.logoImage {
	width: 25px;
	height: 25px;
}

@media screen and (max-width: 500px) {
	.header a {
		float: none;
		display: block;
		text-align: left;
	}
	.header-right {
		float: none;
	}
}

.footer {
	margin-bottom: 0;
	width: 100%;
	background-color: #f1f1f1;
	color: #000000;
	height: auto;
	bottom: 0;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 3px 3px 5px 6px #ccc;
}

.registration {
	border-radius: 4px;
	padding: 10px;
	margin-left: 45%;
	display: block;
	margin-bottom: 50px;
	width: 120px;
}

.icons {
	margin-left: 30%;
	font-size: 20px;
	padding: 5px;
	display: inline-block;
}

.links {
	display: inline-block;
	font-weight: bold;
	margin: 5px;
	align: justify;
	width: 250px;
	vertical-align: top
}

p {
	text-align: justify;
}

.links a, .fa {
	color: #000000;
	padding: 7px;
	display: inline-block;
	font-weight: bold;
}

.links a:hover {
	text-decoration: wavy;
	margin: 0;
}

.copyRights {
	text-align: center;
	display: block;
}

.welcome {
	background-color: #333;
	color: #FFFFFF;
	padding: 5px;
	height: 50px;
}

.welcomeName {
	background-color: #333;
	color: #FFFFFF;
	padding: 5px;
}

.dropdown, .name {
	display: inline-block;
	position: relative;
	font-size: 20px;
}

.regBtn {
	width: 100%;
	height: 100px;
	margin-top: 5px;
}

#drop-content {
	display: none;
	position: absolute;
	z-index: 1;
}

#drop-content a {
	display: block;
	font-size: 15px;
	background-color: #cfcfcf;
	padding: 10px 25px;
	tex-decoration: none;
	color: #000000;
	margin-top: 2px;
}

#drop-content a:link {
	color: #000000;
	text-align: left;
	text-decoration: none;
}

.name:link, .name:visited {
	color: white;
	text-align: left;
	text-decoration: none;
}

.errMsg {
	display: block;
	color: #FF0B0B;
	font-style: italic;
}

input.modal-closing-trick:checked ~ #nojs {
	display: none !important;
}

#modal-closing-trick {
	display: none;
}

label[for], input[type=checkbox], input[type=radio] {
	cursor: pointer
}

.modal {
	/** Apply basic lightbox styling */
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #333333;
	background: #444444;
	background-color: rgba(0, 0, 0, 0.8)
}

.modal:target {
	display: block;
	outline: none;
}

.modal2 .box1 {
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
	min-width: 500px;
	margin: 2% auto;
	padding: 20px;
	background-color: #FFF;
	border: 8px solid #F1F1F1;
}

.modal2 .title3 {
	margin: 0;
	padding: 0 0 10px 0px;
	border-bottom: 1px #ccc solid;
	font-size: 22px;
}

.modal2 .content2 {
	display: block;
	padding: 10px 0 0 0px;
	font-size: 18px;
	line-height: 22px;
}

.button {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
	display: inline-block;
	outline: 0;
	line-height: 1.4;
	background: linear-gradient(#4d4d4d, #2f2f2f);
	border-radius: 5px;
	border: 1px solid #000;
	color: #FFF !important;
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-decoration: none !important;
	cursor: pointer;
	text-align: center;
	padding: 10px 14px;
}

.info {
	display: inline;
	cursor: help;
}

.tool {
	visibility: hidden;
	width: auto;
	background-color: #696969;
	color: #fff;
	position: absolute;
	border-radius: 6px;
	display: inline;
	padding: 5px;
	z-index: 1;
	display: block;
	margin-rigth: 50%;
	botto: 0;
}

.form-horizontal .control-label {
	text-align: left !important;
	margin-left: 10%;
	border: 0px;
}

input[type="text"][disabled] {
	background-color: #ffffff;
}

.con .panel {
	margin-left: 10%;
	margin-right: 10%;
}

.remove:focus {
	outline: none;
}

.alert-success {
	display: none;
}

.remove {
	font-size: 17px;
}

.info:hover .tool {
	visibility: visible;
}

.wrapper {
	display: flex;
	height: 650px;
	width: 100%;
}

.wrapper .sidebar {
	width: 15%;
	height: auto;
	background-color: #C0C0C0;
	padding: 20px 0;
	border-right: 1px solid #000000;
	box-sizing: border-box;
}

.wrapper .sidebar h4 {
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
}

.wrapper .sidebar ul {
	padding: 0;
	list-style: none;
}

.wrapper .sidebar ul li {
	margin-left: 0;
	padding: 10px;
	box-sizing: border-box;
	border-bottom: 1px solid #000000;
	margin-top: 2px;
	font-size: 15px;
}

.wrapper .sidebar ul li a {
	color: #000000;
	display: block;
}

.wrapper .sidebar ul li:hover {
	background: #ddd;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
}

.wrapper .sidebar ul li:hover a {
	color: #fff;
}

.wrapper .sidebar ul li a:link {
	text-decoration: none;
}

.panel-body {
	text-align: left;
}
.dashIcon{
	text-align: center;
}
.panel-body .fa {
	font-size: 30px;
	display: block;
}

.panel-footer {
	text-align: right;
}

.dashboard {
	margin: 10px 10px;
	width: 250px;
	height: 165px;
	overflow: hidden;
	display: inline-block;
	margin-left: 16px;
}

.container {
	width: 250px;
}

.side {
	width: 85%;
}

.searchBtn {
	border-radius: 50%;
}

.stats {
	width: 47%;
	margin-left: 15px;
	margin-right: 15px;
	display: inline-block;
}

.contentBox {
	width: 85%;
	height: 650px;
}

.wrapper .showCourse {
	margin: 20px 20px;
	width: 97%;
}

.showCourse {
	margin: 20px 20px;
	width: auto;
	height: 550px;
	display: block;
}

.createdBy {
	margin-right: 2%;
	display: inline-block;
}

.clickable:hover {
	cursor: pointer;
}

.pagination {
	margin: right:80%;
}

.hidden, .hiddenAId, .hiddenEId, .hiddenAid {
	display: none;
}

.pagination a:link, .pagination a, .pagination a:hover {
	text-decoration: none;
	color: #ffffff;
}

.font-awesome .fa {
	font-family: "Font Awesome 5 Free", Open Sans;
	font-weight: 501;
}

.notification {
	background-color: #555;
	text-color: white;
	text-decoration: none;
	position: relative;
	display: inline-block;
	border-radius: 2px;
	height: 30px;
}

.notification .fa {
	color: #ffffff;
	font-size: 20px;
}

.notification .badge {
	position: absolute;
	bottom: -5px;
	right: 5px;
	padding: 5px;
	border-radius: 50%;
	background-color: red;
	color: white;
}

.welcomeName .btn {
	height: 35px;
	width: 45px;
	padding: 0;
	margin-right: 10px;
}

.dropdown-item {
	height: 70px;
	border-bottom: 1px solid #000000 !important;
	padding: 10px !important;
}

input, textarea ,select {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
}
 
input:focus, textarea:focus, select:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.details .modal-body p
{
	display: inline-block;
	word-wrap: break-word;
	 word-break: break-all;
    white-space:pre-wrap;
}

.details .modal-body .content{
	margin-left: 20px;
}

.details .modal-header, .details .modal-footer{
	background-color: #236B8E;
	color: #ffffff;
}

.details .modal-body{
	padding:20px;
	background-color: #F0F8FF;
}

.about{
	padding: 20px;
}

.about .content{
	font-weight: bold;
	font-size: 15px;
}

.about .content span{
	font-size: 18px;
	padding: 10px 0px;
}

.heading {
  text-align: center;
  position: relative;
  margin: 5px; 
  background-color: #B8B8B8;
  border-radius: 40px;
}
.heading .content {
  font-family: arial;
  color: #333;
  font-size: 30px;
  text-align: center;
  margin: 0 30px;
  padding: 0px 20px;
}

.headingContent{
	margin: 4px;	
}
#pie-chart2, .bar-chart, #pie-chart1{
	display: block;
    width: 527px;
    height: 263px;
}
#line-chart{
	display: block;
    width: 1147px;
    height: 573px;
}
.top, .bottom {
  display: inline-block;
  position: absolute;
  background: #236B8E;
  height: 3px;
  left: 50%;
}
.top {
  width: 70px;
  top: 10px;
}
.bottom {
  width: 120px;
  top: 25px;
}
.left {
  transform: translateX(-190px);
}
.bottom.left {
  transform: translateX(-240px);
}
.right {
  transform: translateX(120px);
}