body{
    margin: 0px;
    /* background-image: url(../images/backgroun.jpg); */
    background-size: cover;
}
.menu
{
    width: 100%;
    height: 70px;
    background-color: black;
    padding: 10px;  
    box-sizing: border-box; 
}
.header
{
    background-image: linear-gradient(red, #000000);;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.important
{
    color: #FF0B0B;
}
li,ul{
    display: inline-table;
    padding: 10px;
}
a:hover{
    color: red;
}
.header > p
{
    color: #ffffff;
    margin-left: 45%;
    font-weight: bold;
    font-size: 20px;
}
.left_div
{
    width: 25%;
    height: 100%;
    clear: both;
    float:left;
    padding: 20px;
    box-sizing: border-box;
}
.right_div
{
    float:right;
    margin-right: 5%;
    height: 100%;
}
.personal_information,.address_information,.captcha
{
    -webkit-box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3); 
    padding: 20px;  
}
form{
    width:50%;
    display: inline-block;
    
}
hr
{
    border: 3px solid #000000;
}
.label{
    width: 30%;
    font-size: 15px;
    text-transform: capitalize;
    padding: 10px;
    display: inline-block;
    color: #000000;
    font-weight: bolder;
  
}
.labeladd
{
    width: 30%;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10PX;
    text-transform: capitalize;
    display: inline-block;
    color: #000000;
    font-weight: bolder;
}
.input_field{
    margin-top: 10px;
    width: 40%;
    height: 25px;
    border-radius: 5px;
    background-color: #DFDFDF;
   
}
select{
    margin-top: 10px;
    width: 40%;
    height: 25px;
    border-radius: 5px;
    background-color: #DFDFDF;
   
}
.info{
    font-style: italic;
    font-weight: bolder;
    display: inline;
    color:#ffffff;
    border-radius: 50%;
    background-color:#000000;
    padding-left: 5px;
    padding-right: 5px;
    cursor: help;
}
.add_address,.remove_address,.add,.remove_phn{
     
    font-weight: bolder;
    display: inline;
    columns: #000000;;
    font-size: 25px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;

}
.tooltip {
    visibility: hidden; 
    width: 33%;
    background-color: #696969;
    color: #fff;
    position: absolute;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
    display: block;
    margin-left: 210px;
}
.info:hover .tooltip{
    visibility: visible;
}
#submit_button
{
    padding:10px;
    width:350px;
    height: 30px;
    margin: 20px;
    margin-left: 140px;
}
.button
{
    text-align: center;
}
.details
{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bolder;
    display: inline-block;
}
.captcha
{
    position: relative;
    background-color: #ccc;
}
.canvas_img
{
    width:200px;
    height:200px;
    border-radius: 50%;
}
#canvas_captcha
{
    width:150px;
    height:50px;
    margin-left: 30px;
    margin-top: 15px;
    display: inline-block; 
   
}
input[type=file]
{
    border: 1px solid #000000;
    padding: 2px;
}
.adding_element
{
    margin-top: 10px;
    width: 40%;
    height: 25px;
    border-radius: 5px;
    background-color: #DFDFDF;
    margin-left: 34%;
}
.remove_icon
{
    font-weight: bolder;
    display: inline;
    columns: #000000;;
    font-size: 25px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;

}
#refresh
{
    height:25px;
    position: absolute;
    bottom:50%;
    left:40%;
    top:50%;
}
.err_msg
{
    display: block;
    margin-left: 35%;
    color:#FF0B0B;
    font-weight: bolder;
    font-style: italic;
}
textarea{
    background-color:#DFDFDF;
    width: 50%;
    vertical-align: top;
    margin-top: 10px;
}
#captcha_text
{
    width:50px;
    height:30px;
    display: inline-block;
    position: absolute;
    top: 33%;
}
#captcha_err
{
    display: block;
    margin-left: 28%;
    color:#FF0B0B;
    font-weight: bolder;
    font-style: italic;
}
.display_image
{
    width:200px;
    height:200px;
    border-radius: 50%;
}
#upload_img,#display_img
{
    width:200px;
    height:200px;
    border-radius: 50%;
}
.hidden
{
    display: none;
}
.dis_details
{
    margin-left: 25%;
}
.dis_details p
{
    display: inline;
}