<cfparam name="attributes.className" default="">
<cfoutput>
	<div class= "heading">
		<span class="top right"></span>
		<span class="top left"></span>
			<h2 class = "content"> #attributes.headingTitle# </h2>
		<span class="bottom right"></span>
		<span class="bottom left"></span>
	</div>
</cfoutput>