/*       #FF0B0B------>red
         #00ff00----->green
         #000000 ---->black
         #FFF8F8 ------>white
*/
.important{
    color: #FF0B0B;
}
body{
    margin: 0px; 
    background-image: linear-gradient(to right, #ffffff , #808080);  
}
.menu{
    padding: 5px;
    width: 100%;
    background-color: #000000;
    margin: 0px;
    position: fixed;
    display: block;
    clear: both;
    top: 0;
}
li{
    display: inline-block;
    padding: 5px;
    
}
a{
    text-decoration: none;
    color: #FFF8F8;
}
a:hover{
    background-color: #F90C0C;
    padding: 5px;
}
.image{
    width: 30%;   
}
img{
    margin-top: 30px;
    width: 30%;
    height: 700px;
    float: left;
    background-size: cover;
    margin: 0;
    position: fixed;
    display: block;
    left: 0;
    top: 70px;
}

.user{
    width: 25%;
    position:fixed;
    top: 20%; 
    left: 7%; 
    color: #FFF8F8; 
    font-size: 30px;
}

.registration_form{
    display: inline-block;
    margin-left: 30%;
    width: 68%;
    top: 0rem;
    box-sizing: border-box;
    margin-top: 0;   
}

.label{
    width: 40%;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px;
    display: inline-block;
  
}
.registration_layout{
    padding: 10px;
    display: block;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

select{
    margin-top:8px;
    width: 50%;
    height: 25px;
    border-radius: 5px;
    background-color: #DFDFDF;"
}

.input_field{
    margin-top: 10px;
    width: 50%;
    height: 25px;
    border-radius: 5px;
    background-color: #DFDFDF;
}
.gender
{
    width:10%;
    border-radius: 0;  
    display: inline-block; 
}
textarea{
    background-color:#DFDFDF;
    width: 50%;
    vertical-align: top;
    margin-top: 10px;
}

input[type=checkbox]
{
    margin: auto;
}

.condition{
    text-align: center;
    margin-left: 0;
    font-size: 15px;
    font-weight: bolder;
    padding: 5px;
}
button
{
    background-color: #1C5EE4;
    height:40px; 
    width: 50%; 
    text-align: center; 
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.address{
    padding: 10px;
    display: block; 
    margin-top: 5px; 
    width: 100%;
    box-sizing: border-box;
}

#note{
    text-align: left;
    margin-left: 85%;
    margin-top: 50px;
    font-weight: bolder;
    color: #FF0B0B;
    background-color: black;
}