	<div class = "sidebar">
		<h4> menu </h4>
		<ul>
			<li>
				<a href = "Index.cfm">
					<i class = "fa fa-home" aria-hidden = "true"></i>
					Home
				</a>
			</li>
			<li>
				<a href = "profile.cfm">
					<i class = "fa fa-user" aria-hidden = "true"></i>
					Profile
				</a>
			</li>
			<li>
				<a href = "dashboard.cfm">
					<i class = "fa fa-tachometer" aria-hidden = "true"></i>
					Dashboard
				</a>
			</li>
			<li>
				<a href = "course.cfm">
					<i class = "fa fa-graduation-cap"></i>
					Courses
				</a>
			</li>
		</ul>
	</div>