/*       #FF0B0B------>red
         #00ff00----->green
         #000000----->black
         #FFF8F8----->white
*/
.important{
    color: #FF0B0B;
}
body{
    margin: 0px; 
    background-image: linear-gradient(to right, #ffffff , #808080);  
}
.menu{
    padding: 5px;
    width: 100%;
    background-color: #000000;
    margin: 0px;
    position: fixed;
    display: block;
    clear: both;
    top: 0;
}
li{
    display: inline-block;
    padding: 5px; 
}
a{
    text-decoration: none;
    color: #FFF8F8;
}
a:hover{
    background-color: #F90C0C;
    padding: 5px;
}
.image{
    width: 30%;   
}
.background{
    margin-top: 30px;
    width: 30%;
    height: 700px;
    float: left;
    background-size: cover;
    margin: 0;
    position: fixed;
    display: block;
    left: 0;
    top: 70px;
}

.user{
    width: 25%;
    position:fixed;
    top: 20%; 
    left: 7%; 
    color: #FFF8F8; 
    font-size: 30px;
}

.registration_form{
   
    margin-left: 30%;
    width: 68%;
    top: 0rem;
    box-sizing: border-box;
    margin-top: 0;   
}

.label{
    width: 40%;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px;
    display: inline-block;
}
.registration_layout{
    padding: 10px;
    display: block;
     margin-top: 5px; 
    width: 100%;
    box-sizing: border-box;
}

select{
    margin-top:8px;
    width: 50%;
    height: 25px;
    border-radius: 5px;
    background-color: #DFDFDF;
}

.input_field,.non_field,.dob,.match{
    margin-top: 10px;
    width: 50%;
    height: 25px;
    border-radius: 5px;
    background-color: #DFDFDF;
}
.gender
{
    width:10%;
    border-radius: 0;  
    display: inline-block; 
}
#txt,#text{
    background-color:#DFDFDF;
    width: 50%;
    vertical-align: top;
    margin-top: 10px;
    height:80px;
}

input[type=checkbox]
{
    margin: auto;
}

.condition{
    text-align: center;
    margin-left: 0;
    font-size: 15px;
    font-weight: bolder;
    padding: 5px;
    position: relative;
    
}
#button_submit
{
    background-color: #1C5EE4;
    height:40px; 
    width: 50%; 
    text-align: center; 
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.address{
    padding: 10px;
    display: block; 
    margin-top: 5px; 
    width: 100%;
    box-sizing: border-box;
}

#note{
    text-align: left;
    margin-left: 85%;
    margin-top: 50px;
    font-weight: bolder;
    color: #FF0B0B;
    background-color: #000000;
}

.captcha{
    width:50%;
    height: 120px;
    margin: auto; 
    padding: 20px;
    position: relative;
}
#canvas{
    width: 30%;
    margin: auto;
    height: 60%;
    text-align: center;
}
#ans{
    margin-top: 15px;
    position: absolute;
    width: 50px;
    height: 30px;
    font-size: 15px;
    margin-left: 0rem;
}
#refresh{
    
   width: 60px;
   height: 30px;
   display: block;
   position: absolute;
   margin-left: 80px;
}

#term_err
{
    display: inline;
    margin-left: 50px;
    color:#FF0B0B;
    position: absolute;
}
.err_msg_captcha
{
   
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 60px;
    font-weight: bolder;
    color:#FF0B0B;   
}
.err_msg
{
    margin-bottom: 15px;
    margin-left: 43%; 
    display:block; 
    font-weight: bolder; 
    color:#FF0B0B;
    
}

.captcha_text
{
    font-weight: bolder;
    margin: auto;
    margin-left: 90px;
}

.tooltip {
    visibility: hidden; 
    width: 30%;
    background-color: #696969;
    color: #fff;
    position: absolute;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
    display: block;
    margin-left: 28.5%;
  }
  
  .info{
      font-style: italic;
      font-weight: bolder;
      display: inline;
      color:#ffffff;
      border-radius: 50%;
      background-color:#2F4F4F;
      padding-left: 5px;
      padding-right: 5px;
  }
  .info:hover .tooltip{
      visibility: visible;
  }

 